* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  list-style-type: none;
  background-color: #454545;
  display: flex;
  justify-content: space-evenly;

  padding: 15px;
}

.navbar a {
  text-decoration: none;
  color: #ffff;
}
